body {
    width: 100%;
    height: 100%;
    /*background-image: url("../images/bg.jpg");*/
  }
  
  .bg-index {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  
  .name-text {
    color: white;
    font: 75px Oswald, "sans-serif";
  }
  
  
  .text-place {
    z-index: 3;
    margin-top: 13vw;
    margin-left: 6vw;
    z-index: 3;
    position: relative;
  }
  
  .overlay-dark {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.57;
    z-index: 0;
  }
  
  .spotify-white1 {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../images/spotify1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    transition: all .5s;
    animation: blink-logo 5s infinite reverse,
    move-logo 5s infinite ease-in-out reverse;
  }
  
  .spotify-red {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../images/spotify-red.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    z-index: 2;
    transition: all .5s;
    animation: blink-logo 5s infinite,
    move-logo 5s infinite ease-in-out 0.8s;
  }
  
  @keyframes blink-logo {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes move-logo {
    0% {
      transform: translate(-1px, 1.5px);
    }
  
    50% {
      transform: translate(1px, -1.5px);
    }
    to {
      transform: translate(-1px, 1.5px);
    }
  }
  
  .spotify-red-off {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../images/spotify-red-off.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: fixed;
    z-index: 1;
    animation: move-logo 10s infinite ease-in-out;
  }
  
  .container {
    display: inline-block;
    z-index: 5;
  }
  .container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: red;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from {
      border-right: .15em solid white;
    }
    to {
      border-right: .15em none white;
    }
  }